@model IEnumerable<DeliveryRequest.Models.OrderToView>

@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Таблица заказов</h1>
</div>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="text-center">
    <form asp-controller="Home">
        <table style="align-content: center">
            <tr>
                <th><label id="LabelOrderID" style="width:200px">Номер заказа</label></th>
                <th><label id="LabelOCity" style="width:200px">Город отправителя</label></th>
                <th><label id="LabelOAddress" style="width:200px">Адрес отправителя</label></th>
                <th><label id="LabelICity" style="width:200px">Город получателя</label></th>
                <th><label id="LabelIAddress" style="width:200px">Адрес получателя</label></th>
                <th><label id="LabelWeight" style="width:200px">Вес груза</label></th>
                <th><label id="LabelDate" style="width:200px">Дата забора груза</label></th>
            </tr>

            @{
                if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.Id" onmouseover="highlightTheRow(this, 0);" onmouseout="highlightTheRow(this, 1);" onclick="location.href = '@Url.Action("OrderView", new { id = item.Id, isNew = false })'">
                            <td>@item.Id</td>
                            <td>@item.OutcomingCity</td>
                            <td>@item.OutcomingAddress</td>
                            <td>@item.IncomingCity</td>
                            <td>@item.IncomingAddress</td>
                            <td>@item.Weight</td>
                            <td>@item.PickupDate?.ToString("dd-MM-yyyy")</td>
                        </tr>
                    }
                }
            }

            
        </table>
    </form>
</div>
    


<script>
    function highlightTheRow(oObject, state) {
        var row = oObject.id;
        var element = document.getElementById(row);
        if (state == 1) {
            element.setAttribute("style", "background-color: RGBA(255, 255, 255, 0)");
        }
        else if (state == 0) {
            element.setAttribute("style", "background-color: RGBA(128, 128, 128, 0.5)");
        }   
    }
</script>